

.country-continier{
    background-color: white;
    width: 30%;
    padding: 5px;
    text-align: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    


}
.country-continier .country-info{
    text-align: left;
}
.country-continier:hover{
    transform:scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 10;

}
.most-puplated-country-wrapper .buttons{
    gap:20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
}
.most-puplated-country-wrapper .buttons button{
  height: 40px;
  width: 150px;
  border:none;
  border-radius: 5px;
  background-color: yellow;
  cursor: pointer;
  font-size: 24px;

}
.most-puplated-country-wrapper .most-puplated-country{
list-style: none;
}