

.country-continier{
    width: 30%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);


}
.country-continier .country-info{
   
    text-align: left;
}