.home-page-wrapper{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(128, 128, 128,0.1);
    width:80%;
}   
.country-continier-wrapper{
    display: flex;
    flex-wrap: wrap;  /* Ensures countries wrap to the next line if they exceed the width */
    gap: 20px;  /* Adds some space between the countries */
    justify-content: center; /* Centers the countries horizontally */
}